html,body {
    background-color: #000000;
}

h1, h2, h3, h4,h5,h6, p {
    color:#ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

img {
    width: 200px;
    max-width: 100%;
}

header {
    max-width: 1000px;
    margin: auto;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    padding-bottom: 50px;
}

.container-title {
    margin: auto;
    margin-top: 50px;
}

.container-title h1 {
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 65px;
    font-weight: bold;
}

.container-title h2 {
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-style: italic;
}

#container-autoestima {
    margin-bottom: 100px;
}

.box-button {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button {
    margin: auto;
}

.button a {
    width: 400px;
    height: 80px;
    background-color: #daa520;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 20px;
    box-shadow: inset 0 -3px 0 rgb(0 0 0 / 25%);
    font-weight: bold;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.button.mb a {
    margin-bottom: 100px;
}

.box-button .button a:hover {
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 25%);
}

.box-button .autoestima {
    margin:auto;
}

.box-button .autoestima  h2{
    font-size: 27px;
    font-weight: bold;
}

.box-button .autoestima-img {
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-top: 50px;
    max-width: 630px;
}

.box-button .autoestima-img img{
    width: 285px;
    margin-bottom: 25px;
}

.box-button .autoestima-img .comparao {
    width: 294px;
}

.box-button .autoestima-img p {
    font-size: 18px;
    color: #c0c0c0;
    margin: auto;
    justify-content: center;
    display: flex;
}

#container-sobre {
    background-color: #f2f2f2;
}

#container-sobre .sobre {
    max-width: 1000px;
    margin: auto;
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    margin-bottom: 100px;
}

#container-sobre .sobre .sobre-img img{
    width: 380px;
}

#container-sobre .sobre .description{
    max-width: 560px;
}

#container-sobre .sobre .description h3{
    color:#000000;
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 20px;
}

#container-sobre .sobre .description p{
    color:#525252;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.5;
}

.sobre-button {
    max-width: 1000px;
    display: flex;
    margin: auto;
}

.sobre-button .button {
    font-size: 40px;
    width: 100%;
    height: 140px;
    margin-bottom: 50px;
    font-weight: bold;
}

#container-atencao {
    margin: auto;
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    margin-bottom: 100px;
}

#container-atencao .atencao {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

#container-atencao .atencao h3{
    font-size: 45px;
    color: #FF0000;
    margin-bottom: 35px;
    font-weight: bold;
    text-decoration: underline;
}

#container-atencao .atencao p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

#container-atencao .atencao img {
    width: 540px;
    margin-bottom: 100px;
}

#container-atencao .atencao .nunca {
    color: #FFFFFF;
}

#container-atencao .nunca-mais {
    display: flex;
    gap: 20px;
    text-align: center;
}

#container-atencao .nunca-mais div {
    max-width: 330px;
}

#container-atencao .nunca-mais div img {
    width: 100%;
    height: 170px;
    margin-bottom: 10px;
}

#container-atencao .nunca-mais div p {
    color: #C0C0C0;
    font-size: 18px;
}

#container-curso {
    background-color: #F2F2F2;
}

#container-curso .conteudo-curso {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    margin-bottom:100px
}

.conteudo-curso-intro {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.conteudo-curso-intro h5 {
    color: #777;
    font-size: 40px;
    margin-bottom: 50px;
}

.conteudo-curso-intro h5 span {
    color: #DAA520;
    font-weight:900;
}

.conteudo-curso-imagem {
    width: 600px;
}

.conteudo-curso-imagem-mobile {
    display: none;
}

#container-curso .conteudo-curso .botao-adquirir {
    max-width: 1000px;
    width: 100%;
}

#container-curso .conteudo-curso .botao-adquirir .button {
    font-size: 40px;
    width: 100%;
    border-radius: 5px;
    height: 130px;
}

#container-curso .conteudo-curso .descricao-titulo {
    color: #525252;
    font-size: 30px;
    margin-bottom: 32px;
    text-align: center;
}

#container-curso .conteudo-curso .descricao {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}

#container-curso .conteudo-curso .descricao >div {
    display: flex;
    max-width: 400px;
    width: 100%;
    margin-bottom: 50px;
    height: 150px;
    align-items: flex-start;
}

#container-curso .conteudo-curso .descricao div .curso{
    display: flex;
    
    flex-direction: column;
}


#container-curso .conteudo-curso .descricao div img{
    width: 50px;
}

#container-curso .conteudo-curso .descricao div h4{
    font-size: 18px;
    color: #525252;
    margin-bottom: 20px;
    padding-left: 30px;
    text-align: left;
}

#container-curso .conteudo-curso .descricao div p{
    font-size: 16px;
    font-weight: 400;
    color: #555555;
    padding-left: 30px;
}

#container-materiais {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-materiais .materiais {
    text-align: center;
}

#container-materiais .materiais h3 {
    font-size: 40px;
    color: #c0c0c0;
    line-height: 35px;
    letter-spacing: 1;
    margin-bottom: 20px;
}

#container-materiais .materiais p {
    color: #c0c0c0;
    font-size: 20px;
}

#container-aula {
    background-color: #F2F2F2;
}

#container-aula .box-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}

#container-aula .box-container div {
    max-width: 300px;
    background-color: #ffffff;
    margin-bottom: 50px;
}

#container-aula .box-container img {
    width: 300px;
    margin-bottom: 25px;
    height: 180px;
}

#container-aula .box-container p {
    color: #555;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 25px;
}

#container-filmagem .container-box {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#container-filmagem .container-box h3 {
    font-size: 31px;
    color:#C0C0C0;
    margin-bottom: 25px;
}

.container-button {
    background-color: #F2F2F2;
    padding: 30px;
}

.container-button .box-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
}

.container-button .box-container h3 {
    font-size: 40px;
    width: 100%;
    height: 140px;
    border-radius: 5px;
}

#container-indicacao .container-box {
    max-width: 1000px;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 50px;
}

#container-indicacao .container-box  .indicativa h3 {
    font-size: 36px;
    color: #C0C0C0;
    margin-bottom: 50px;
    text-align: center;
}

#container-indicacao .container-box .opcoes {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#container-indicacao .container-box .opcoes div {
    max-width: 315px;
    height: 380px;
    text-align: center;
}

#container-indicacao .container-box .opcoes div img {
    width: 280px;
    height: 180px;
    margin-bottom: 15px;
}

#container-indicacao .container-box .opcoes div h4 {
    margin-bottom: 20px;
    color: #C0C0C0;
}

#container-indicacao .container-box .opcoes div p {
    color: #C0C0C0;
}

#container-indicacao .container-box .resultado-reais {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#container-indicacao .container-box .resultado-reais h3 {
    margin-bottom: 25px;
    font-size: 36px;
}

#container-indicacao .container-box .resultado-img {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
}

#container-indicacao .container-box .resultado-img img {
    width: 320px;
}

#container-celebridades {
    background-color: #F2F2F2;
}

#container-celebridades .container-box {
    max-width: 1000px;
    margin: auto;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    margin-bottom: 50px;
}

#container-celebridades .container-box h3 {
    width: 100%;
    height: 140px;
    font-size: 40px;
    border-radius: 5px;
}

#container-celebridades .container-box h4 {
    color: #A1A1A1;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
}

#container-celebridades .container-box >p {
    font-size: 18px;
    color: #000000;
    line-height: 1.4;
    text-align: center;
    font-weight: unset;
    text-decoration: underline;
}

#container-celebridades .container-box .post-celebridade {
    width: 100%;
    margin: auto;
    margin-top: 25px;
    justify-content: space-between;
    display: flex;
    position: relative;
    gap: 20px;
}

#container-celebridades .container-box .post-celebridade div {
    display: inline-block;
    position: relative;
}


#container-celebridades .container-box .post-celebridade div img {
    width: 315px;
    height: 500px;
}

#container-celebridades .container-box .post-celebridade div p {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10PX;
}

#container-certificado .container-box {
    max-width: 1000px;
    margin:auto;
    text-align: center;
    margin-bottom: 50px;
}

#container-certificado .container-box h3 {
    font-size: 35px;
    margin-bottom: 25px;
}

#container-certificado .container-box img {
    width: 580px;
    height: 420px;
}

#container-valor {
    background-color: #F2F2F2;
}

#container-valor .container-box {
    max-width: 1000px;
    margin:auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#container-valor .container-box h3 {
    font-size: 34px;
    margin-bottom: 25px;
    color: #373E4C;
}

#container-valor .container-box img {
    width: 350px;
}

#container-reembolso .container-box {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}

#container-reembolso .container-box img {
    width: 220px;
}

#container-reembolso .container-box div {
    max-width: 675px;
}

#container-reembolso .container-box h3 {
    color:#DAA520;
    font-size: 31px;
    margin-bottom: 25px;
    text-align: center;
}

#container-reembolso .container-box p {
    font-size: 21px;
    color: #777777;
    font-weight: 400;
    line-height: 27px;
}

.little {
    height: 180px;
}

.container-button .menor h3{
    font-size: 30px;
    height: 80px;
}

@media (max-width: 767px) {

    .button a {
        width: 200px;
        font-size: 10px;
        height: 50px;
    }

    .button.mb a {
        margin-bottom: 25px;
    }

    header {
        max-width: 500px;
        text-align: center;
    }

    header .container-title h1 {
        font-size: 20px;
    }

    header .container-title h2 {
        font-size: 15px;
    }

    .video {
        width: 500px;
        height: 150px;
    }

    #container-autoestima .box-button .autoestima {
        text-align: center;
    }

    #container-autoestima .box-button .autoestima h3 {
        font-size: 15px;
    }

    #container-autoestima .box-button .autoestima .autoestima-img {
        max-width: 500px;
    }

    #container-autoestima .box-button .autoestima .autoestima-img img {
        height: 200px;
        object-fit: cover;
    }
    
    #container-sobre .sobre {
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 500px;
    }

    #container-sobre .sobre .sobre-img img {
        width: 200px;
        margin-bottom: 25px;
    }

    .sobre-button .button {
        height: 25px;
    }

    #container-atencao {
        max-width: 500px;
        margin-bottom: 50px;
    }

    #container-atencao .atencao h3 {
        font-size: 25px;
    }

    #container-atencao .atencao p {
        font-size: 15px;
    }

    #container-atencao .atencao img {
        width: 300px;
        margin-bottom: 50px;
    }

    #container-atencao .nunca-mais div {
        max-width: 150px;
    }

    #container-atencao .nunca-mais div img {
        object-fit: cover;
        height: 100px;
    }

    #container-atencao .nunca-mais div p {
        font-size: 10px
    }

    #container-curso .conteudo-curso {
        max-width: 500px;
    }

    .conteudo-curso .conteudo-curso-intro h5 {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .conteudo-curso-imagem {
        display: none;
    }
    
    .conteudo-curso-imagem-mobile {
        display: block;
        max-width: 100%;
        width: 350px;
    }

    #container-curso .conteudo-curso .botao-adquirir .button {
        height: 100px;
    }

    #container-curso .conteudo-curso .descricao-titulo {
        font-size: 20px;
    }

    #container-curso .conteudo-curso .descricao {
        padding: 25px;
    }

    #container-curso .conteudo-curso .descricao >div {
        height: auto;
    }

    #container-materiais {
        max-width: 500px;
        margin-bottom: 25px;
    }

    #container-materiais .materiais h3 {
        font-size: 20px;
    }

    #container-materiais .materiais p {
        font-size: 15px;
        margin-bottom: 25px;
    }

    #container-aula .box-container {
        max-width: 500px;
    }

    #container-aula .box-container div {
        max-width: 150px;
    }

    #container-aula .box-container div img {
        width: 150px;
        height: 90px;    
    }

    #container-aula .box-container div p {
        font-size: 10px;
    }

    #container-filmagem .container-box {
        max-width: 500px;
    }

    #container-filmagem .container-box h3 {
        font-size: 20px;
    }

    #container-indicacao .container-box {
        max-width: 500px;
    }

    #container-indicacao .container-box .indicativa h3 {
        font-size: 20px;
    }

    #container-indicacao .container-box .opcoes div {
        max-width: 150px;
    }

    #container-indicacao .container-box .opcoes div img {
        object-fit: cover;
    }

    #container-indicacao .container-box .opcoes div p {
        font-size: 12px;
    }

    #container-indicacao .container-box .resultado-reais h3 {
        font-size: 20px;
    }

    #container-indicacao .container-box .resultado-img img {
        width: 160px;
    }

    #container-celebridades .container-box {
        max-width: 500px;
    }

    #container-celebridades .container-box h4 {
        font-size: 20px;
    }

    #container-celebridades .container-box p {
        font-size: 15px;
    }

    #container-celebridades .container-box .post-celebridade div img {
        width: 150px;
        height: 250px;
    }

    #container-certificado .container-box h3 {
        font-size: 20px;
    }

    #container-certificado .container-box img {
        width: 300px;
        height: 200px;
    }

    #container-valor .container-box {
        max-width: 500px;
    }

    #container-valor .container-box h3 {
        font-size: 20px;
    }

    #container-valor .container-box img {
        width: 200px;
    }

    #container-reembolso .container-box {
        max-width: 500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #container-reembolso .container-box img {
        width: 150px;
        margin-bottom: 25px;
    }

    #container-reembolso .container-box div h3 {
        font-size: 20px;
    }

    #container-reembolso .container-box div p {
        font-size: 15px;
    }
}

@media (max-width:480px) {

    .video {
        max-width: 350px;
        margin: auto;
    }

    #container-autoestima {
        margin-bottom: 50px;
    }

    #container-autoestima .box-button .autoestima h3{
        font-size: 12px;
    }

    #container-autoestima .box-button .autoestima .autoestima-img {
        margin-top: 25px;
        max-width: 350px;
    }

    #container-autoestima .box-button .autoestima .autoestima-img img{
        max-width: 150px;
        height: 150px;
    }
    
    #container-autoestima .box-button .autoestima .autoestima-img p {
        font-size: 12px;
    }

    #container-sobre .sobre {
        max-width: 350px;
    }

    #container-sobre .sobre .description h3{
        font-size: 25px;
    }

    #container-sobre .sobre .description div p {
        font-size: 15px;
        line-height: 1.2;
    }

    #container-atencao {
        max-width: 350px;
    }

    #container-atencao .nunca-mais {
        margin: auto;
        flex-direction: column;
    }

    #container-materiais {
        max-width: 350px;
    }

    #container-materiais .materiais h3 {
        font-size: 15px;
    }

    #container-materiais .materiais p {
        font-size: 12px;
        margin-bottom: 20px;    
    }

    #container-aula .box-container {
        max-width: 350px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #container-aula .box-container div {
        margin-bottom: 25px;
    }

    #container-filmagem .container-box {
        max-width: 350px;
    }

    #container-filmagem .container-box h3 {
        font-size: 18px;
    }

    #container-indicacao .container-box {
        max-width: 350px;
    }

    #container-indicacao .container-box .indicativa h3 {
        font-size: 18px;
    }

    #container-indicacao .container-box .opcoes {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #container-indicacao .container-box .opcoes div {
        height: 330px;
    }

    #container-indicacao .container-box .resultado-reais h3 {
        font-size: 18px;
    }

    #container-indicacao .container-box .resultado-img {
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }

    #container-celebridades .container-box {
        max-width: 350px;
    }

    #container-celebridades .container-box h4 {
        font-size: 15px;
    }

    #container-celebridades .container-box p {
        font-size: 12px;
    }

    #container-celebridades .container-box .post-celebridade {
        width: unset;
        margin: auto;
        margin-top: 25px;
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    #container-certificado .container-box h3 {
        font-size: 18px;
    }

    #container-certificado .container-box img {
        width: 250px;
        height: 150px;
    }

    #container-valor .container-box {
        max-width: 350px;
        padding-bottom: 25px;
    }

    #container-valor .container-box h3 {
        font-size: 15px;
    }

    #container-reembolso .container-box {
        max-width: 350px;
        margin-bottom: 50px;
    }

    #container-reembolso .container-box img {
        width: 100px;
    }

    #container-reembolso .container-box div h3 {
        font-size: 15px;
    }

    #container-reembolso .container-box div p {
        font-size: 12px;
    }
}